@using Microsoft.AspNetCore.Components.Web
@namespace BlazorBlog_Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />

    <link href="/site/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/site/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href='https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css' rel='stylesheet' type='text/css'>
    <link href="/site/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" type="text/css">

    <link href="BlazorBlog_Server.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script type="text/javascript" src="/site/js/jquery.1.8.3.min.js"></script>
    <script type="text/javascript" src="/site/js/bootstrap.js"></script>
    <script type="text/javascript" src="/site/js/wow.js"></script>
<script type="text/javascript" src="/site/js/jquery.particleground.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="/site/js/plugins.js"></script>
    <script>
        jQuery("[data-toggle='tooltip']").tooltip();
        jQuery('.footer').particleground({
        dotColor: '#515151',
        lineColor: '#515151'
        });
    </script>

    <script src="_framework/blazor.server.js"></script>
    
<script type="text/javascript" src="/site/js/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="/site/js/ckeditor/CKEditorInterop.js"></script>
</body>
</html>













